{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} SisCobros - Login {% endblock %}
{% block estilos %}
     <link rel="stylesheet" href="{% static 'css/ink.css' %}" />
     <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
{% endblock %}
{% block js %}
        <script type="text/javascript" src= "{% static 'js/holder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/autoload.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/html5shiv.js' %}"></script>
{% endblock %}
{% block body %}
        <div class="container">
         {% if not user.is_authenticated %}
            <section id="content">
               <form action="." method="POST">
                   {% csrf_token %}
                   <h1>Iniciar Sesión</h1>
                    <div>
                        <input type="text" placeholder="Nombre de Usuario" required="" id="username" name="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" required="" id="password" name="password"/>
                    </div>
                    <div>
                        <button type="submit" class="ink-button red"><i class="icon-signin"> </i> Entrar </button>
                    </div>
               </form>
             {% else %}
                    <meta http-equiv="refresh" content="0; url=/index/" />
             {% endif %}
             </section>
             {% if form.errors %}
                    <div class="ink-alert basic error">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Error:</b> Usuario o Contraseña Incorrectos</p>
                    </div>
             {% endif %}
        </div>
{% endblock %}