{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} SisCobros - Login {% endblock %}
{% block estilos %}
     <link rel="stylesheet" href="{% static 'css/ink.css' %}" />
     <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
{% endblock %}
{% block js %}
        <script type="text/javascript" src= "{% static 'js/holder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/autoload.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/html5shiv.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/vendor/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/formularios.js' %}"></script>

{% endblock %}
{% block body %}
        <div class="container">
         {% if not user.is_authenticated %}
            <section id="content">
               <form action="#" method="POST">
                   {% csrf_token %}
                   <h1>Iniciar Sesión</h1>
                    <div>
                        {{login.usuario}}
                    </div>
                    <div>
                        {{login.password}}
                    </div>
                    <div>
                        <a onClick="enviarajax()" class="ink-button red"><i class="icon-signin"> </i> Entrar </a>
                    </div>
               </form>
             {% else %}
                    <meta http-equiv="refresh" content="0; url=/index/" />
             {% endif %}
             </section>
             {% if form.errors %}
                    <div class="ink-alert basic error">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Error:</b> Usuario o Contraseña Incorrectos</p>
                    </div>
             {% endif %}
        </div>
{% endblock %}
{% block script %}
    <script>
        function enviarajax(){
                var data = new FormData();
                data.append("usuario", $('#id_usuario').val());
                data.append("password", $('#id_password').val());
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: '{%url "enviar_ajax"%}',
                    data: data,
                    success: function(data){
                        alert(data.usuario)
                        alert(data.password)
                    },
                    error: function(data){
                        alert("Algo salio mal")                                                                  
                    },
                    processData: false,
                    contentType: false
                })
            }
    </script>
{% endblock %}